*{
  box-sizing: border-box;
  margin: 0;
  font-family: Helvetica,sans-serif;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
  color: #FFF;
  background-color: #08081A;
}

a {
  text-decoration: none;
}



.main_content_tab{
  margin:1.5em;
}

.nav-tabs{
  background-color: #08081A;
}

.tab_content{
  margin: 1.5em;
}

.macro_action_buttons {
  margin: 1.5em;
}