*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

.settings_icon{
  height: 20px;
  margin-left: 0.25em;
}

.channel_select_checkbox{
  margin-right: 0em;

}

.channel_select_label, .channel_select_checkbox, .settings_icon{
  margin-top: -2em;
  margin-bottom: -2em;
}

.plot_controls_asset {
  height: 42px;
  margin: 0.3em;
}
