*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: #fff;
}

a {
  text-decoration: none;
}

.settings_icon{
  height: 20px;
  margin-left: 0.25em;
}

.channel_select_checkbox{
  margin-right: 0em;

}

.channel_select_label, .channel_select_checkbox, .settings_icon{
  margin-top: -2em;
  margin-bottom: -2em;

}

.plot_controls_asset {
  height: 25px;
  margin-top: 1em;
  display:block;
  margin-right: auto;
  margin-left: auto;
}

.main_content_tab{
  margin:1.5em;
}

.nav-tabs{
  background-color: #444444;
}

.tab_content{
  margin: 1.5em;
}

.plot_controls_container  {
  margin-left:-0.5em;
}

.plot_channel_selector_container {
  margin-top: 1em;
}
.channel_enable_group{
  margin-left: 7em;
}

.plot_div_container{
  margin-left: auto;
  margin-right: auto;
}

.parameters_area_containser{
  margin-left: auto;
  margin-right: auto;
}

.parameters_area_containser > label{
  alignment: center;
}

.text-muted {
  color: #666 !important;
}

#tab_creator_add_image_col > img{
  text-align: center;
  padding: 3em;
  margin: 3em 1em 1em 3em;
}

#tab_creator_add_image_caption{
  width: 500px;
  text-align: center;
}

#tab_creator_add_register_col {
  text-align: center;
  padding: 6.5em;
  width: 90%;
}

#tab_creator_add_register_col img{
  margin-top: 2em;
}

#tab_creator_add_register_caption{
  width: 500px;
  text-align: center;
}
